doctype html
html(lang="en")
    head
        title 21 Day Summer Shred Receipt
    body
        p Hi #{name},
        p Thank you for signing up for the Tough Love Training Program.
        p Attached you'll find your Tough Love Valentines Nutrition and Training Plan
        table.table(cellpadding="0", cellspacing="0")
            tr
                td
                    h3 Thank you for your purchase!
            tr
                td Date
                td Name
                td Price
            tr
                td 

        p Tough Love Promo