.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.proper {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.block {
  background: gray;
  opacity: 0.5;
}

.focused {
  opacity: 1;
  transition: opacity 2s;
}

.rccs {
  display: inline-block;
}

.rccs input {
  width: 100%;
}

.half-width {
  width: 48% !important;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

#city-postal {
  width: 100%;
}

.form {
  width: 100%;
  position: relative;
}

.form input {
  display: inline-block;
  width: 69%;
}

.form label {
  display: inline-block;
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
