@import url('https://fonts.googleapis.com/css?family=Lato');


@media (max-width: 850px) {

  #logo-container {
    margin-top: 5%;
  }

  #billing-copy {
    margin-top: 5% !important;
    width: 95%;
  }

  #email-box input {
    width: 95% !important;
  }

  .billing input {
    width: 100% !important;
  }

  .join-program {
    width: 70% !important;
    font-size: 25px !important;
  }

  .billing #form-box {
    width: 100% !important;
  }

  .notmobile {
    display: none !important;
  }

  #email-box button {
    display: block;
    height: 75px;
    font-size: 25px;
    width: 95% !important;
    text-align: center;
    background: #e43b2c;
    color: #fff;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 700;
    /* height: 55px; */
    line-height: 40px;
    border-radius: 5px;
    border: 0;
    letter-spacing: 2px;
    margin: 35px auto 0;
    padding: 20px;
  }

  #copy-block {
    width: 100% !important;
  }

  #copy-block #header-copy {
    width: 100% !important;
  }

  #payment-block {
    display: inline-block;
    width: 100% !important;
    vertical-align: top;
  }

  #billing-address {
    width: 100% !important;
    text-align: center !important;
    margin: 5% auto !important;
  }

  .card-form-input-container {
    width: 100% !important;
  }

  #header-banner {
    background: red !important;
    color: white !important;
    font-size: 20px !important;
    width: 100% !important;
    font-weight: bold !important;
    height: 40px !important;
    text-align: center !important;
    margin: auto !important;
    vertical-align: middle !important;
    margin-bottom: 1% !important;
  }

  #header-text {
    font-size: 18px !important;
    margin-top: 1%;
    margin-bottom: 1% !important;
  }

  #video-wrapper {
    display: inline-block !important;
    width: 100% !important;
    margin-top: 5% !important;
  }

  #email-box {
    width: 100% !important;
  }

  #email-box button {
    font-size: 25px !important;
  }

  #component_box h1 {
    font-size: 24px;
  }

  .proper {
    font-size: 15px;
  }

  #component_box h3 {
    font-size: 20px;
  }

  .mobile {
    display: block !important;
  }

  .App {
    width: 100% !important;
    max-width: 100% !important;
    background: #cacaca38;
    font-family: 'Lato', 'sans-serif';
  }

  #thank-you-container button {
    font-size: 13px !important;
  }

  #card-container form {
    position: relative !important;
  }

  .form input {
    display: inline-block !important;
    width: 90% !important;
  }

  #city-state input {
    width: 100% !important;
  }

  select {
    width: 100% !important;
  }

  .half-width {
    width: 46% !important;
  }

  #card-container #card-module {
    position: relative !important; 
    left: 0 !important;
  }

  #card-container {
    position: relative !important;
    width: 100% !important;
    margin: 10% auto auto !important;
    height: auto !important;
  }

  #header-copy ul li {
    font-size: 20px !important;
    list-style-type: circle !important;
    background: none !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    padding-left: 0 !important;
    min-height: 12px !important;
    margin-bottom: 5px !important;
}

#billing-copy ul li {
  font-size: 20px !important;
  list-style-type: circle !important;
  background: none !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  padding-left: 0 !important;
  min-height: 12px !important;
  margin-bottom: 5px !important;
}

  .notmobile {
    display: block;
  }

  .mobile {
    display: none;
  }

  #card-data-box {
    width: 99.9% !important;
    position: relative !important;
    text-align: center !important;
    margin: auto !important;
    display: inline-block !important;
  }
}

.video-react .video-react-big-play-button {
  top: 42%;
  left: 40%;
}

#video-wrapper {
  display: inline-block;
  width: 45%;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
  color: red;
}

#header-copy {
  margin-top: 1%;
  width: 50%;
  float: right;
  /* display: inline-block; */
}

.video-react-controls-enabled {
  padding-top: 27%;
}

.App {
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.proper {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.display {
  display: block;
}

#img-wrapper {
  width: 100%;
  margin: auto;
}

#img-wrapper img {
  width: 100%;
}

#root {
  height: 1024px;
}

#email-box {
  width: 50%;
  display: inline-block;
  margin: auto;
  vertical-align: top;
}

#email-box input {
  width: 50%;
}

.form input {
  font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
#card-data-box {
  width: 72%;
  position: relative !important;
  text-align: center;
  margin: auto;
}

select {
  height: 60px;
}


.card-form-input-container {
  width: 69%;
  margin: auto;
}

#thank-you-container, #thank-you-image-wrapper {
  width: 100%;
}

#thank-you-container button {
  text-transform: uppercase;
  height: 50px;
  width: 95%;
  background-color: #ca0010;
  color: #fff;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  padding: 10px 12px;
  margin-bottom: 10%;
  margin-top: 10%;
}

#thank-you-image-wrapper {
  margin-top: 5%;
}

#thank-you-image-wrapper img {
  width: 45%;
}

#BillingState {
  width: 360px;
}


#city-state input{
  width: 360px;
}

#city-state select {
  margin: auto;
  width: 100%;
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin-bottom: 2%;
}

#header-text {
  font-size: 25px;
  margin-bottom: 3%;
}

#billing-address {
  width: 75%;
  text-align: center;
  margin: 5% auto;
}

.bold {
  font-weight: bold;
}

#card-container {
  position: relative;
  width: 100%;
  margin: 10% auto auto;
}

#card-container #card-module {
  display: inline-block;
}

#card-container form {
  display: inline-block;
  vertical-align: top;
}

#billing-form button {
  text-transform: uppercase;
  height: 50px;
  width: 69%;
  margin-top: 5%;
  background-color: #ca0010;
  color: #fff;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  padding: 10px 12px;
}

#header-banner {
  background: red;
  color: white;
  font-size: 50px;
  width: 100%;
  font-weight: bold;
  height: 75px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-bottom: 1%;
}

#billing-form button:disabled {
  color: black !important;
  background: lightgray !important;
  border: 1px solid black !important;
}

#billing-form button:hover {
  color: #ca0010;
  background: white;
  cursor: pointer;
}

#email-box button {
  margin: auto;
  text-transform: uppercase;
  display: block;
  height: 50px;
  font-size: 25px;
  text-align: center;
  background-color: #ca0010;
  color: #fff;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  padding: 10px 12px;
  margin-bottom: 10%;
}

#button-wrapper {
  width: 50%;
}

button:disabled {
  color: black !important;
  background: lightgray !important;
  border: 1px solid black !important;
}

#email-box button:hover {
  color: #ca0010;
  background: white;
  cursor: pointer;
}

#component_box {
  position: relative;
}

ul {
  text-align: left;
}

#header-copy ul li {
  font-size: 24px;
  list-style-type: none;
  background: transparent url("/info.png") no-repeat scroll 0 0;
  font-weight: 500;
  line-height: 27px;
  padding-left: 55px;
  min-height: 27px;
  margin-bottom: 20px;
}

#billing-copy ul li {
  font-size: 24px;
  list-style-type: none;
  background: transparent url("/info.png") no-repeat scroll 0 0;
  font-weight: 500;
  line-height: 27px;
  padding-left: 55px;
  min-height: 27px;
  margin-bottom: 20px;
}

#email-box div {
  display: inline-block;
  width: 100%;
}

#email-box input {
  /* width: 100%; */
  display: block;
  height: 50pxz;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

.form input {
  display: inline-block;
  width: 100%;
  height: 60px;
}

#billing-address {
  width: 33%;
  text-align: center;
  margin: 5% auto;
}

#block-header {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 1%;
}

#form-box {
  position: relative;
}

#payment-container {
  width: 85%;
  display: inline-block;
}

.join-program {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ec528d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
  background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#copy-block #header-copy {
    margin-top: 1%;
    width: 60%;
    float: none; 
    display: inline-block;
}

#footerlinks {
  background: #c3c3c3;
  margin-top: 5%;
  height: 20px;
  color: black;
  width: 100%;
  text-align: left;
}

#footerlinks a {
  color: black;
  text-decoration: underline;
  margin-left: 1%;
  margin-right: 1%;
}

.billing {
  width: 100%;
  max-width: 940px;
  margin: auto;
}

.join-program {
  display: block;
  height: 75px;
  font-size: 25px;
  width: 50%;
  text-align: center;
  background: #e43b2c;
  color: #fff;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 35px;
  border-radius: 5px;
  border: 0;
  letter-spacing: 2px;
  margin: 35px auto 0;
  padding: 20px;
  cursor: pointer;
  -webkit-box-shadow:    0 8px 0 #e43b2c, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #e43b2c, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
}

.join-program:active, button:focus {
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.join-program:disabled {
  color: black !important;
  background: lightgray !important;
  border: 1px solid black !important;
}

.billing #form-box {
  width: 50%;
  margin: auto;
}

.billing #billing-address {
  width: 50%;
  margin: auto;
}

.billing #BillingState {
  height: 70px;
}

.form-header {
  margin-bottom: 3%;
  margin-top: 2%;
}

.billing input {
  margin: auto;
  width: 100%;
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin-bottom: 2%;
}

.details {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: bold;
}

.highlight {
  background: yellow;
}

.billing #card-form {
  margin-top: 5%;
}

.billing .card-form-input-container {
  width: 100%;
}

.billing #card-data-box {
  width: 100%;
}

#billing-copy {
  margin-top: 1%;
  margin-bottom: 2%;
  width: 60%;
  float: none; 
  display: inline-block;
}

#payment-block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#copy-block {
  display: inline-block;
  width: 49%;
}

#email-box button {
  display: block;
  height: 75px;
  font-size: 25px;
  width: 50%;
  text-align: center;
  background: #e43b2c;
  color: #fff;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 700;
  /* height: 55px; */
  line-height: 40px;
  border-radius: 5px;
  border: 0;
  letter-spacing: 2px;
  margin: 35px auto 0;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.block {
  /* background: gray; */
  opacity: 0.5;
}

.focused {
  opacity: 1;
  transition: opacity 2s;
}

.rccs {
  display: inline-block;
}

.rccs input {
  width: 100%;
}

.half-width {
  width: 49% !important;

}

.left {
  float: left;
}

.right {
  float: right;
}

.App-link {
  color: #61dafb;
}

#city-postal {
  width: 100%;
}

.form {
  width: 100%;
  position: relative;
}

.form input {
  display: inline-block;
  width: 100%;
}

.form label {
  display: inline-block;
  width: 30%;
}

.slash {
  position: relative;
}
.slash:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: red;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
