.App {
  text-align: center;
  width: 45%;
  margin: auto;
  background: lightgray;
  height: 100%;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.proper {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.display {
  display: block;
}

#img-wrapper {
  width: 100%;
  margin: auto;
}

#img-wrapper img {
  width: 100%;
}

#root {
  height: 1024px;
}

#email-box {
  width: 75%;
  margin: auto;
}

#email-box h3 {
  /* color: white; */
}

.form input {
  font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
}

#card-data-box {
  width: 72%;
  position: relative !important;
  text-align: center;
  margin: auto;
}

select {
  height: 38px;
}

#city-state input{
  width: 40.5%;
}

#header-text {
  font-size: 25px;
}

#billing-address {
  margin-top: 5%;
}

.bold {
  font-weight: bold;
}

#card-container {
  position: relative;
  width: 69%;
  margin: auto;
  margin-top: 10%;
  height: 190px;
}

#card-container #card-module {
  position: absolute;
  left: 0;
}

#card-container form {
  position: absolute;
  top: 20%;
}

#billing-form button {
  text-transform: uppercase;
  height: 50px;
  width: 69%;
  margin-top: 5%;
  background-color: #ca0010;
  color: #fff;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  padding: 10px 12px;
}

#billing-form button:disabled {
  color: black !important;
  background: lightgray !important;
  border: 1px solid black !important;
}

#billing-form button:hover {
  color: #ca0010;
  background: white;
  cursor: pointer;
}

#email-box button {
  text-transform: uppercase;
  height: 50px;
  background-color: #ca0010;
  color: #fff;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  padding: 10px 12px;
}

button:disabled {
  color: black !important;
  background: lightgray !important;
  border: 1px solid black !important;
}

#email-box button:hover {
  color: #ca0010;
  background: white;
  cursor: pointer;
}

#component_box {
  position: relative;
}

ul {
  text-align: left;
}

#email-box div {
  display: inline-block;
  width: 100%;
}

#email-box input {
  width: 100%;
  height: 50px;
  font-size: 25px;
  text-align: center;
}

#email-box button {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.block {
  /* background: gray; */
  opacity: 0.5;
}

.focused {
  opacity: 1;
  transition: opacity 2s;
}

.rccs {
  display: inline-block;
}

.rccs input {
  width: 100%;
}

.half-width {
  width: 48% !important;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

#city-postal {
  width: 100%;
}

.form {
  width: 100%;
  position: relative;
}

.form input {
  display: inline-block;
  width: 69%;
}

.form label {
  display: inline-block;
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
