.panel {
  display: inline-block;
}

#side-panel {
  width: 25%;
}

.btn {
  padding: 20px;
  width: 10%;
  background: blue;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

.primary {
  background: red;
}

.tab {
  width: 90%;
  padding: 10px;
  border: 1px solid black;
}

#main-panel {
  width: 75%;
  background: white;
  color: black;
  float: right;
}

.toprow {
  border-bottom: 1px solid black;
}

.row {
  border: 1px solid gray;
}

.column {
  width: 20%;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}